<div class="modal-dialog" role="document">
  <div class="modal-content">
    <button (click)="correctGrammar($event)">Correct Grammar</button>
    <button (click)="Summarize($event)">Summarize</button>
    <div class="modal-header justify-content-between">
      @if (type === "send") {
        <h5 class="modal-title" id="exampleModalLabel">Compose Email</h5>
      } @else {
        <h5>{{ selectedEmail?.subject }}</h5>
      }
      <div
        class="close close-btn"
        data-dismiss="modal"
        aria-label="Close"
        (click)="openEmailModal()"
      >
        &#x2715;
      </div>
    </div>

    <div class="cc-bcc-btn-sec" (click)="handleCcBccClick($event)">
      @if (!ccBcc.cc) {
        <span action="cc" id="cc">CC</span>
      }
      @if (!ccBcc.bcc) {
        <span action="bcc" id="bcc">BCC</span>
      }
    </div>

    <div class="modal-body">
      <form (submit)="handleSubmit()">
        <div class="form-group form-input-section">
          <label for="to">To:</label>
          <span class="d-flex gap-2" (click)="handleEmailStack($event, 'to')">
            @for (emailR of emailRecp.to; track $index) {
              <span class="to-email" id="{{ emailR.id }}">
                {{ emailR.recp }}
                <i class="fa-solid fa-xmark" id="{{ emailR.id }}"></i>
              </span>
            }
          </span>

          <input
            type="email"
            id="to"
            name="to"
            [(ngModel)]="email.to"
            required
            class="form-control"
            (keyup)="handleEmailAddressEntries($event, 'to')"
          />
        </div>
        @if (ccBcc.cc) {
          <div class="form-group form-input-section">
            <label for="cc">CC:</label>
            <span class="d-flex gap-2" (click)="handleEmailStack($event, 'cc')">
              @for (emailR of emailRecp.cc; track $index) {
                <span class="cc-email" id="{{ emailR.id }}">
                  {{ emailR.recp }}
                  <i class="fa-solid fa-xmark" id="{{ emailR.id }}"></i>
                </span>
              }
            </span>

            <input
              type="email"
              id="cc"
              name="cc"
              [(ngModel)]="email.cc"
              required
              class="form-control"
              (keyup)="handleEmailAddressEntries($event, 'cc')"
            />
          </div>
        }
        @if (ccBcc.bcc) {
          <div class="form-group form-input-section">
            <label for="bcc">BCC:</label>
            <span
              class="d-flex gap-2"
              (click)="handleEmailStack($event, 'bcc')"
            >
              @for (emailR of emailRecp.bcc; track $index) {
                <span class="bcc-email" id="{{ emailR.id }}">
                  {{ emailR.recp }}
                  <i class="fa-solid fa-xmark" id="{{ emailR.id }}"></i>
                </span>
              }
            </span>

            <input
              type="email"
              id="bcc"
              name="bcc"
              [(ngModel)]="email.bcc"
              required
              class="form-control"
              (keyup)="handleEmailAddressEntries($event, 'bcc')"
            />
          </div>
        }

        @if (type !== "reply") {
          <div class="form-group form-input-section">
            <label for="subject">Subject:</label>
            <input
              type="text"
              id="subject"
              name="subject"
              [(ngModel)]="email.subject"
              required
              class="form-control"
            />
          </div>
        }
        <div class="form-group" style="position: relative">
          <div class="textarea-header-section">
            <label for="body">Body:</label>
            @if (type === "forward") {
              <div class="plain-body-txt" [innerHTML]="email.body"></div>
            } @else {
              <div id="editor" (keyup)="calcCursorPos($event)"></div>
              <div class="suggestion-block">
                <span class="suggestion-block-span">
                  {{ suggestionText }}
                </span>
              </div>
            }
          </div>
        </div>

        @if (type !== "forward") {
          <app-file-upload
            (uploadedFilesEmit)="files = $event"
          ></app-file-upload>
        }
        <div class="mt-3">
          <button type="submit" class="btn btn-success">Send</button>
        </div>
        <div>correctedText:{{ correctedText }}</div>
        <div>summarizet Input : {{ sumarizedText }}</div>
      </form>
    </div>
  </div>
</div>
