<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header justify-content-between">
      <h5 class="modal-title" id="exampleModalLabel">Compose Email</h5>
      <div
        class="close close-btn"
        data-dismiss="modal"
        aria-label="Close"
        (click)="openEmailModal()"
      >
        &#x2715;
      </div>
    </div>
    <div class="compose-email">
      <h3>Compose Email</h3>
      <form (ngSubmit)="sendEmail()">
        <div class="form-group">
          <label for="to">To:</label>
          <input
            type="email"
            id="to"
            name="to"
            [(ngModel)]="email.to"
            required
          />
        </div>
        <div class="form-group">
          <label for="subject">Subject:</label>
          <input
            type="text"
            id="subject"
            name="subject"
            [(ngModel)]="email.subject"
            required
          />
        </div>

        <div class="form-group">
          <label for="body">Body:</label>
          <!-- Quill editor with ngModel binding -->
          <quill-editor
            [(ngModel)]="email.body"
            [ngModelOptions]="{ standalone: true }"
            style="height: 300px; border: 1px solid #ccc"
          ></quill-editor>
        </div>

        <button type="submit">Send</button>

        <div class="actions">
          <button class="btn-send" type="submit">Send</button>
          <button class="btn-draft" type="button">Save as Draft</button>
          <button class="btn-discard" type="button">Discard</button>
        </div>
      </form>
    </div>
  </div>
</div>
