<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand nav-logo" href="javascript: void(0);">
    <img
      src="assets/images/logo4.png"
      width="70"
      class="d-inline-block align-top"
      alt="logo"
      class="nav-logo"
    />
  </a>
  @if (commonService.isNative) {
    <i
      class="fa-solid fa-bars nav-hamburger"
      (click)="showDropdown = !showDropdown"
    ></i>
  }
</nav>
@if (commonService.isNative) {
  <div class="dropdown-nav" [ngClass]="{ active: showDropdown }">
    <app-side-menu (closeMenu)="showDropdown = $event"></app-side-menu>
  </div>
}
