<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand nav-logo" href="javascript: void(0);">
    <img
      src="/resource/AngularAppNew/assets/images/logo.png"
      width="70"
      class="d-inline-block align-top"
      alt="logo"
    />
    <p class="ps-2 m-0">SendTech</p>
  </a>
  @if (commonService.isNative) {
    <i
      class="fa-solid fa-bars nav-hamburger"
      (click)="showDropdown = !showDropdown"
    ></i>
  }
</nav>
@if (commonService.isNative) {
  <div class="dropdown-nav" [ngClass]="{ active: showDropdown }">
    <app-side-menu
      (openEmailModalEmitter)="commonService.openEmailModal = $event"
    ></app-side-menu>
  </div>
}
