/* Add application styles & imports to this file! */

.actives{
  color:white;
  border:2px solid red;
  padding: 2em;
}

/* You can add global styles to this file, and also import other style files */
.embeddedServiceHelpButton .helpButton .uiButton {
  background-color: #005290;
  font-family: "Arial", sans-serif;
}
.embeddedServiceHelpButton .helpButton .uiButton:focus {
  outline: 1px solid #005290;
}
