@import "@fortawesome/fontawesome-free/css/all.css";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-size: 10px;
}

button {
  font-size: 10px !important;
}

.nav-container {
  background: #212b86;
}

.bg-light {
  background-color: transparent !important;
}

.container-custom {
  max-width: 1330px;
}

.nav-logo {
  color: #fff;
  display: flex;
  align-items: center;
}

.app-sidemenu {
  border-right: 1px solid lightgray;
  width: 20%;
}

.app-sidemenu a {
  font-size: 15px;
}

.home-body {
  height: 100vh;
  display: flex;
}

.wrapper-mail-section {
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: max-content;
  margin: 10px;
  width: 100%;
  padding: 10px 25px;
}

ul.sidebar-menu-items {
  list-style: none;
  font-size: 20px;
  padding: 0;
}

ul.sidebar-menu-items {
  list-style: none;
  font-size: 20px;
  padding: 0;
}

.email-list-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  min-width: 220px;
  width: max-content;
}

.email-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 64%;
}

.mail-section {
  display: flex;
  gap: 1%;
}

.email-header-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.email-preview-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  font-size: 15px;
  color: #212b86;
}

.email-body-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  font-size: 12px;
}

.dropdown-toggle::after {
  display: none;
}

.email-item-top-right,
.email-item-mid-right {
  display: none;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
}

.email-item-top,
.email-item-mid {
  display: flex;
  align-items: center;
  gap: 5px;
}

.email-item {
  padding: 5px;
  cursor: pointer;
}

.email-item:not(:last-child) {
  border-bottom: 0.5px solid lightgray;
}

.email-item:hover .email-item-top-right {
  display: flex;
}

.email-item:hover .email-item-mid-right {
  display: flex;
}

.pagination-section {
  display: flex;
  justify-content: space-between;
}

.bold-text {
  font-weight: bold;
}

.send-email-modal {
  pointer-events: auto;
  background: #00000047;
}

.close-btn {
  cursor: pointer;
}

.hide-block {
  display: none;
  visibility: hidden;
}

.fa-envelope ::before {
  color: #212b86;
}

.form-control:focus {
  box-shadow: none;
}

.social-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.social-group > .social-item {
  width: calc(100% / 4);
  margin: 10px 0;
  cursor: pointer;
  height: 35px;
  position: relative;
  border-bottom: 0.5px solid lightgray;

  & .bottom {
    height: 0;
  }
}

.social-items-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  align-items: center;
  margin-top: 3px;
}

.social-item.active {
  border: 0.5px solid lightgray;
  border-radius: 5px 5px 0 0;

  & i {
    color: #212b86;
  }

  & .bottom {
    height: 2px;
    background: #212b86;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 0 5%;
    transition: height 0.1s ease;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 80px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  border: 0.5px solid lightgray;
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover {
  cursor: pointer;
  & .dropdown-content {
    display: block;
    & p {
      cursor: pointer;
    }
  }
}

.dropdown-wrapper {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}

.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  & .upload-section-left {
    width: 75%;
  }

  & .upload-section-right {
    width: 25%;
    display: flex;
    justify-content: center;
  }
}
