@import "@fortawesome/fontawesome-free/css/all.css";

body {
  font-size: 10px;
}

.nav-container {
  background: #212b86;
}

.bg-light {
  background-color: transparent !important;
}

.container-custom {
  max-width: 1330px;
}

.nav-logo {
  color: #fff;
  display: flex;
  align-items: center;
}

.app-sidemenu {
  border-right: 1px solid lightgray;
  width: 20%;

  & a {
    font-size: 15px;
  }
}

.home-body {
  height: 100vh;
  display: flex;
}

.wrapper-mail-section {
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: max-content;
  margin: 10px;
  width: 100%;
  padding: 10px 25px;
}

ul.sidebar-menu-items {
  list-style: none;
  font-size: 20px;
  padding: 0;
}

ul.sidebar-menu-items {
  list-style: none;
  font-size: 20px;
  padding: 0;
}

.email-list-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: max-content;
}

.email-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 64%;
}

.mail-section {
  display: flex;
  gap: 1%;
}

.email-header-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.email-preview-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  font-size: 15px;
  color: #212b86;
}

.email-body-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  font-size: 12px;
}

.dropdown-toggle::after {
  display: none;
}

.email-item-top-right,
.email-item-mid-right {
  display: none;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
}

.email-item-top,
.email-item-mid {
  display: flex;
  align-items: center;
  gap: 5px;
}

.email-item {
  padding: 5px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 0.5px solid lightgray;
  }

  &:hover {
    & .email-item-top-right {
      display: flex;
    }
    & .email-item-mid-right {
      display: flex;
    }
  }
}

.pagination-section {
  display: flex;
  justify-content: space-between;
}

.bold-text {
  font-weight: bold;
}

.send-email-modal {
  pointer-events: auto;
  background: #00000047;
}

.close-btn {
  cursor: pointer;
}

.hide-block {
  display: none;
  visibility: hidden;
}

.fa-envelope {
  &::before {
    color: #212b86;
  }
}
