<div class="side-menu">
  <button class="compose-btn w-100 mt-3" (click)="openEmailModal()">
    <i class="fa fa-pencil" aria-hidden="true"></i> Compose
  </button>
  <ul class="sidebar-menu-items">
    <li
      class="menu-item"
      [class.active]="activeMenuItem === 'Inbox'"
      (click)="setActiveMenu('Inbox')"
    >
      <i class="fa fa-inbox menu-icon"></i>
      <span>Inbox</span>
    </li>
    <li
      class="menu-item"
      [class.active]="activeMenuItem === 'sentitems'"
      (click)="setActiveMenu('sentitems')"
    >
      <i class="fa fa-paper-plane menu-icon"></i>
      <span>Sent</span>
    </li>
    <li
      class="menu-item"
      [class.active]="activeMenuItem === 'drafts'"
      (click)="setActiveMenu('drafts')"
    >
      <i class="fa fa-file-alt menu-icon"></i>
      <span>Drafts</span>
    </li>
    <li
      class="menu-item"
      [class.active]="activeMenuItem === 'deleteditems'"
      (click)="setActiveMenu('deleteditems')"
    >
      <i class="fa fa-trash menu-icon"></i>
      <span>Trash</span>
    </li>
    <li
      class="menu-item"
      [class.active]="activeMenuItem === 'junkemail'"
      (click)="setActiveMenu('junkemail')"
    >
      <i class="fa fa-exclamation-circle menu-icon"></i>
      <span>Junk Email</span>
    </li>
    <li
      class="menu-item"
      [class.active]="activeMenuItem === 'archive'"
      (click)="setActiveMenu('archive')"
    >
      <i class="fa fa-archive menu-icon"></i>
      <span>Archive</span>
    </li>
  </ul>
</div>
