@if (emailsToShow.length) {
  <div class="email-list-block">
    @for (email of emailsToShow; let idx = $index; track $index) {
      <div class="email-item" (click)="selectedEmailClick(email)">
        <div class="email-item-top">
          <div class="email-item-top-left">
            <p class="email-header-p m-0">{{ email.sender }}</p>
          </div>
          <div class="email-item-top-right">
            @if (email.status === "unread") {
              <i
                class="fa-regular fa-envelope"
                (click)="changeStatus(email, $event)"
              ></i>
            }
            @if (email.status === "read") {
              <i
                class="fa-regular fa-envelope-open"
                (click)="changeStatus(email, $event)"
              ></i>
            }
            @if (email.flagStatus === "notFlagged") {
              <i
                class="fa-regular fa-flag"
                [ngClass]="{ flagStatusActive: email.isFlagged }"
                (click)="toggleFlag(email, $event)"
              ></i>
            }

            @if (email.flagStatus === "flagged") {
              <i
                class="fa-solid fa-flag"
                [ngClass]="{ flagStatusActive: email.isFlagged }"
                (click)="toggleFlag(email, $event)"
              ></i>
            }

            <i class="fa-solid fa-thumbtack"></i>
          </div>
        </div>
        <div class="email-item-mid">
          <div class="email-item-mid-left">
            <p
              [ngClass]="{ 'bold-text': email.status === 'unread' }"
              class="email-preview-p m-0"
            >
              {{ email.subject }}
            </p>
          </div>
          <div class="email-item-mid-right">
            <i
              class="fa-solid fa-trash"
              (click)="deleteEmail(email, $event)"
            ></i>
          </div>
        </div>
        <div class="email-item-bottom">
          <p class="email-body-preview m-0">
            {{ email.bodyPreview }}
          </p>
          <p>{{ showDateTime(email.receivedDateTime) }}</p>
        </div>
      </div>
    }
  </div>

  <div class="pagination-section">
    <button title="previous" class="btn" (click)="renderEmails('previous')">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button title="next" class="btn" (click)="renderEmails('next')">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
} @else {
  <p>Loading emails...</p>
}
