<table class="table">
  <thead>
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Body Preview</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="h5 email-header-p">Mail header is here</div>
      </td>
      <td>
        <p class="email-preview-p">
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type
        </p>
      </td>
      <td>
        <button class="btn">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
